#darkMode {
  background: transparent url("../images/darkmode.png") no-repeat center;
  background-size: 30px 30px;
  width: 45px;
  margin-right: 15px;
  filter: grayscale(100%);
  border: none;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#darkMode:hover,
#darkMode:focus {
  filter: none;
  background-color: black;
  cursor: pointer;
}

#darkMode.clicked {
  filter: none !important;
  background-color: black;
}

@media (max-width: 500px) {
  #darkMode {
    margin-right: 8px;
  }
}
